.project-tile, .lang-tile{
    transition: border-bottom-color 0.5s ease;
    border-bottom:1px solid #FFFFFF;
    margin-bottom:2em;
    padding-bottom:1em;

    &:hover{
        border-bottom-color: $gray-color-light;
    }

    p{
        margin:0px;
      //  white-space: nowrap;
      //  overflow: hidden; 
       // text-overflow: ellipsis; 
    }

    .tile-icon{
        margin-top:.5em;
        margin-right:2em;
    }

    .tile-action{
        margin-left:2em;
    }
}


.project-tile{
    .title{
        font: {
            size: 1.1em;
            weight: bold;
        }
    }

    .descr{
        font-size: .8em;
        color: $gray-color;
    }
}

.pad-terms{
    .terms-num{
        line-height: 2em;
        font-size:1.2em;
        font-weight:bold;
        color: $primary-color;
        span{
            color: $gray-color;
        }
    }
}

.term-tile{
    transition: border-bottom-color 0.5s ease;
    border-bottom:1px solid #FFFFFF;
    margin-bottom:.5em;
    padding-bottom:0em;

    &:hover{
        border-bottom-color: $gray-color-light;
    }

    .tile-icon{
        width:5em;
        
    }
}

.delete-selected-container{
    width:5em;
}

.term-search{
    width: 15em;
    margin-left: .5em;
}
