.project-tile{
    transition: border-bottom-color 0.5s ease;
    border-bottom:1px solid #FFFFFF;
    margin-bottom:2em;
    padding-bottom:1em;

    &:hover{
        border-bottom-color: $gray-color-light;
    }

    p{
        margin:0px;
      //  white-space: nowrap;
      //  overflow: hidden; 
       // text-overflow: ellipsis; 
    }

    .tile-icon{
        margin-top:.5em;
        margin-right:2em;
    }

    .tile-action{
        margin-left:2em;
    }

    .title{
        font: {
            size: 1.1em;
            weight: bold;
        }
    }

    .descr{
        font-size: .8em;
        color: $gray-color;
    }

    
}
